.btn {
	background: #428bca;
	border: #357ebd solid 1px;
	border-radius: 3px;
	color: #fff;
	display: inline-block;
	font-size: 14px;
	padding: 8px 15px;
	text-decoration: none;
	text-align: center;
	min-width: 60px;
	position: relative;
	transition: color .1s ease;
}

.btn:hover {
	background: #357ebd;
}

.btn:visited {
	color: #fff;
}

.btn.btn-big {
	height: 33px;
	width: 91%;
	padding: 13px 0 0 0;
	vertical-align: middle;
}

#iniciarSesion:hover {
	color: #fff;
}